name: bluetooth_low_energy_darwin
description: "iOS and macOS implementation of the bluetooth_low_energy plugin."
version: 6.0.0-dev.0
homepage: "https://github.com/yanshouwang/bluetooth_low_energy"

environment:
  sdk: '>=3.0.0 <4.0.0'
  # Flutter versions prior to 3.7 did not support the
  # sharedDarwinSource option.
  flutter: '>=3.7.0'

dependencies:
  flutter:
    sdk: flutter
  bluetooth_low_energy_platform_interface: ^6.0.0-dev.16

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  pigeon: ^18.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: BluetoothLowEnergyDarwinPlugin
        sharedDarwinSource: true
        dartPluginClass: BluetoothLowEnergyDarwinPlugin
      macos:
        pluginClass: BluetoothLowEnergyDarwinPlugin
        sharedDarwinSource: true
        dartPluginClass: BluetoothLowEnergyDarwinPlugin
