name: bluetooth_low_energy_darwin
description: "iOS and macOS implementation of the bluetooth_low_energy plugin."
version: 6.0.0-dev.3
homepage: https://github.com/yanshouwang/bluetooth_low_energy
repository: https://github.com/yanshouwang/bluetooth_low_energy
issue_tracker: https://github.com/yanshouwang/bluetooth_low_energy/issues
topics:
  - bluetooth
  - bluetooth-low-energy
  - ble
funding:
  - https://paypal.me/yanshouwang5112
  - https://afdian.net/a/yanshouwang

environment:
  sdk: '>=3.0.0 <4.0.0'
  # Flutter versions prior to 3.7 did not support the
  # sharedDarwinSource option.
  flutter: '>=3.7.0'

dependencies:
  flutter:
    sdk: flutter
  bluetooth_low_energy_platform_interface: ^6.0.0-dev.19

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  pigeon: ^19.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: BluetoothLowEnergyDarwinPlugin
        sharedDarwinSource: true
        dartPluginClass: BluetoothLowEnergyDarwinPlugin
      macos:
        pluginClass: BluetoothLowEnergyDarwinPlugin
        sharedDarwinSource: true
        dartPluginClass: BluetoothLowEnergyDarwinPlugin
