name: bluetooth_low_energy_linux
description: Linux implementation of the bluetooth_low_energy plugin.
version: 3.0.0-dev.4
homepage: https://github.com/yanshouwang/bluetooth_low_energy

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  bluetooth_low_energy_platform_interface: ^3.0.0-dev.5
  bluez: ^0.8.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    implements: bluetooth_low_energy
    platforms:
      linux:
        dartPluginClass: BluetoothLowEnergyLinux
