name: bluetooth_low_energy_platform_interface
description: "A common platform interface for the bluetooth_low_energy plugin."
version: 6.0.0-dev.17
homepage: "https://github.com/yanshouwang/bluetooth_low_energy"
repository: "https://github.com/yanshouwang/bluetooth_low_energy"
issue_tracker: "https://github.com/yanshouwang/bluetooth_low_energy/issues"
topics:
  - bluetooth
  - bluetooth-low-energy
  - ble

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  hybrid_logging: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
