name: bluetooth_low_energy_platform_interface
description: "A common platform interface for the bluetooth_low_energy plugin."
version: 6.0.0-dev.8
homepage: "https://github.com/yanshouwang/bluetooth_low_energy"

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  hybrid_logging: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
