name: bluetooth_low_energy_windows
description: "Windows implementation of the bluetooth_low_energy plugin."
version: 6.0.0-dev.6
homepage: "https://github.com/yanshouwang/bluetooth_low_energy"
repository: "https://github.com/yanshouwang/bluetooth_low_energy"
issue_tracker: "https://github.com/yanshouwang/bluetooth_low_energy/issues"
topics:
  - bluetooth
  - bluetooth-low-energy
  - ble

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  bluetooth_low_energy_platform_interface: ^6.0.0-dev.16

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  pigeon: ^18.0.0

flutter:
  plugin:
    implements: bluetooth_low_energy
    platforms:
      windows:
        pluginClass: BluetoothLowEnergyWindowsPluginCApi
        dartPluginClass: BluetoothLowEnergyWindowsPlugin
