name: bluetooth_low_energy_windows
description: 'Windows implementation of the bluetooth_low_energy plugin.'
version: 6.2.1
repository: https://github.com/yanshouwang/bluetooth_low_energy
issue_tracker: https://github.com/yanshouwang/bluetooth_low_energy/issues
topics:
  - bluetooth
  - bluetooth-low-energy
  - ble

resolution: workspace

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  bluetooth_low_energy_platform_interface: ^6.2.1
  logging: ^1.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  pigeon: ^26.0.0

flutter:
  plugin:
    implements: bluetooth_low_energy
    platforms:
      windows:
        pluginClass: BluetoothLowEnergyWindowsPluginCApi
        dartPluginClass: BluetoothLowEnergyWindowsPlugin
