name: bluetooth_low_energy_windows
description: "Windows implementation of the bluetooth_low_energy plugin."
version: 7.0.0-dev.0
homepage: https://github.com/yanshouwang/bluetooth_low_energy
repository: https://github.com/yanshouwang/bluetooth_low_energy
issue_tracker: https://github.com/yanshouwang/bluetooth_low_energy/issues
topics:
  - bluetooth
  - bluetooth-low-energy
  - ble
funding:
  - https://paypal.me/yanshouwang5112
  - https://afdian.net/a/yanshouwang

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  bluetooth_low_energy_platform_interface: ^7.0.0-dev.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  pigeon: ^20.0.1

flutter:
  plugin:
    implements: bluetooth_low_energy
    platforms:
      windows:
        pluginClass: BluetoothLowEnergyWindowsPluginCApi
        dartPluginClass: BluetoothLowEnergyWindowsPlugin
