name: bluetooth_low_energy_windows
description: Windows implementation of the bluetooth_low_energy plugin.
version: 5.0.2
homepage: https://github.com/yanshouwang/bluetooth_low_energy

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  bluetooth_low_energy_platform_interface: ^5.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  pigeon: ^15.0.2

flutter:
  plugin:
    implements: bluetooth_low_energy
    platforms:
      windows:
        pluginClass: BluetoothLowEnergyWindowsCApi
        dartPluginClass: BluetoothLowEnergyWindows
